<table>
  <tr>
    <th>Song</th>
    <th>Release Year</th>
    <th>Artist Name</th>
    <th>Genre</th>
  </tr>

  <% @songs.each do |song| %>
    <tr>
      <td><%= song.name%></td>
      <td><%=song.release_year%></td>
      <td>s<%=ong.artist_name%></td>
      <td><%=song.genre%></td>
    </tr>
    <% end %>
</table>
